/* CSS RESET */

/* general */
html{
    background-color:#000;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    width: 940px;
    font: 13px/22px Helvetica, Arial, sans-serif;
}
button{
    padding: 0.25em 0.5em;
}

nav, .main-wrapper, .footer{
    background-color: #1c1b22;
    border:1px solid #3c3b42;
    border-radius: 5px;
    padding: 1em 2em;
}
.footer{
    margin-top: 2em;
}

h1 {
    font-size: 3em;
    line-height: 3.2em;
    text-align:center;
}

nav{
    float: left;
    padding-right:0.5em;
    margin-top:calc(50px + 0.5em);
}
nav .nav-section .nav-section-title{
    font-size: larger;
}
nav .nav-section{
    margin: 0.5em 0;
}
nav li,.footer li{
    list-style:none;
}
.css-hack, .flex{
    display: flex;
}
.main-outer{
    flex-grow:1;
    margin-left: 1em;
}
.footer li{
    display: inline-block;
    padding: 0em 1em;
}

.form-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 10px;
}

.form-control {
    width: calc(100% - 20px);
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group input.form-control {
    width: auto;
    flex-grow: 1;
}

.input-group .input-unit {
    padding: 8px;
    margin-left: 5px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    margin-top: 10px;
}

.btn-primary {
    background-color: #007bff;
}

.btn-secondary {
    background-color: #28a745;
}

.btn-tertiary {
    background-color: red;
}

.client-nojs .nojs-hide{
    display: none;
    padding: 0;
    margin: 0;
}

.grow{
    flex-grow:1;
}

.priceList li{
    margin-left: 2em;
}
.already-in-cart{
    margin: 2em 0;
    border-top: 1px solid #3c3b42;
    border-bottom: 1px solid #3c3b42;
}
.ticket{
    border:1px solid #3c3b42;
    border-radius: 10px;
    padding: 1em 2em;
}
.snacks{
    border:1px solid #3c3b42;
    border-radius: 10px;
    padding: 1em 2em;
}

/* messages */
.info, .success, .error, .warning {
    border-radius: 5px;
    padding: 10px 20px 10px 50px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
    border: 1px solid #D8000C;

}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('https://i.imgur.com/Q9BGTuy.png');
    border: 1px solid #4F8A10;
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('https://i.imgur.com/ilgqWuX.png');
    border: 1px solid #00529B;
}

.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('https://imgur.com/vTGeSYw.png');
    border: 1px solid #9F6000;
}

.deleteButton, button.destructive{
    background-color: red;
    border: 1px solid red;
    cursor: pointer;
    padding: 0.25em 0.5em;
}
.deleteButton:hover, button.destructive:hover{
    opacity: 0.7;
}

.reservation li, .main-wrapper>ul>li{
    margin-left: 2em;
}
.reservation{
    border:1px solid #3c3b42;
    ;
    padding: 1em 2em;
    border-radius: 10px;
    margin-bottom: 1em;
}
.current-price {
    background-color: #21202b;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-bottom: 15px;
}

.new-price {
    padding: 10px;
    margin-bottom: 15px;
}

.formfield{
    display: flex;
    margin: 1em 0;
}
.formfield>label{
    margin-right: 1em;
}
.formfield input{
    flex-grow:1;
}
.background{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:-1;
    background-image: url("/assets/background.png");
    background-size: 10%;
}
.css-hack{
    z-index:0;
}

.tile-section>ul{
    padding: 0 2em;
}

.logo{
    height:50px;
}
.fsk-0{
    color:#FFFFFF;
}
.fsk-6{
    color:#FFCC33;
}
.fsk-12{
    color:#01d501;
}
.fsk-16{
    color:#3399FF;
}
.fsk-18{
    color:#FF6666;
}