<!DOCTYPE html>
<html lang="de" class="client-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script th:inline="javascript">
        // Daten aus Thymeleaf in JavaScript-Array umwandeln
        var dailyIncomeData = /*[[${dailyIncomeData}]]*/ '[]';
        var revenueData = /*[[${revenueData}]]*/ '[]';
    </script>
    <script type="text/javascript">
        google.charts.load("current", {packages: ['corechart', 'line']});
        google.charts.setOnLoadCallback(drawChart);
        google.charts.setOnLoadCallback(drawBasic);

        function drawChart() {
            console.log(dailyIncomeData);

            // Summiert die Einnahmen für gleiche Quellen
            let incomeSummary = [];
            for (let i = 0; i < dailyIncomeData.length; i++) {
                let source = dailyIncomeData[i].source;
                let amount = dailyIncomeData[i].amount;

                if (incomeSummary[source]) {
                    incomeSummary[source] += amount;
                } else {
                    incomeSummary[source] = amount;
                }
            }

            let dataArray = [];
            dataArray.push(['Einnahmequelle', 'Einnahmen']);
            for (let source in incomeSummary) {
                dataArray.push([source, incomeSummary[source]]);
            }



            var data = google.visualization.arrayToDataTable(dataArray);

            var options = {
                title: 'Tageseinnahmen (in €)',
                pieHole: 0.4,
            };

            var chart = new google.visualization.PieChart(document.getElementById('dailyIncome'));
            chart.draw(data, options);
        }


        function drawBasic() {
            //console.log(revenueData);
            var dataArray = [];
            for (var i = 0; i < revenueData.length; i++) {
                dataArray.push([new Date(revenueData[i].date), revenueData[i].revenue]);
            }
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Day');
            data.addColumn('number', 'Umsatz in €');

            data.addRows(dataArray);

            var options = {
                hAxis: {
                    title: 'Tag',
                    format: 'dd/MM',
                },
                vAxis: {
                    title: 'Umsatz(€)'
                }
            };

            var chart = new google.visualization.LineChart(document.getElementById('revenue'));

            chart.draw(data, options);
        }
    </script>
</head>
<body>
<!-- todo:background asset? -->
<div class="background"></div>
<div class="css-hack">
    <div class="main-outer">
        <div class="head">
            <img class="logo" src="/assets/branding/logo.png" alt="UFO Kinos Logo">
        </div>
        <div class="main-wrapper" role="main" layout:fragment="content">
            <h1>Dashboard</h1>
            <h2>Tageseinnahmen</h2>
            <div id="dailyIncome" style="width: 900px; height: 500px;"></div>
            <br>
            <hr>
            <br>
            <h2>Umsatz</h2>
            <div id="revenue" style="width: 900px; height: 500px;"></div>


        </div>
        <div class="footer">
            <span class="copyright">&copy; UFO-Kinos</span>
            <ul class="links">
                <li><a href="/imprint" title="Impressum | UFO Kinos">Impressum</a></li>
                <li><a href="/privacy" title="Datenschutz | UFO Kinos">Datenschutz</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>