<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
    <head>
    </head>
    <body>
        <div class="main-wrapper" role="main" layout:fragment="content">
            <h1>Reservierung stornieren</h1>
            <form method="post" class="reservation" th:action="'/cancel-reservation/'+ ${reservation.getId()}">
                <p>Reservierungsnummer: <span th:text="${reservation.getId()}">ijgjgtigtjrijgtrigji</span> <a href="/my-reservations" title="Meine Reservierungen | UFO Kinos">ändern</a></p>
                <p>Die folgende Reservierung wird gelöscht: </p>
                <p th:text="${reservation.getCinemaShow().getFilm().getTitle()}">foo</p>
                <p th:text="'FSK ' + ${reservation.getCinemaShow().getFilm().getFskAge()}" th:class="'fsk-' + ${reservation.getCinemaShow().getFilm().getFskAge()}">0</p>
                <p th:text="${reservation.getCinemaShow().getStartDateTime()}">0 Uhr, 01.01.1970</p>
                <ul>
                    <li th:each="ticket: ${reservation.getTickets()}" th:text="${ticket.getSeatString()} +' '+ ${ticket.categoryToLabel()} +' '+ ${ticket.getTicketPrice()}"></li>
                </ul>
                <button class="destructive">Ja, Reservierung löschen</button>
                <a href="/my-reservations" class="fakeButton">Nein, Reservierung beibehalten</a>
            </form>
        </div>

    </body>
</html>
