<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
    <head>
    </head>
    <body>
        <div class="main-wrapper" role="main" layout:fragment="content">
            <h1>Filme Verleih</h1>
            <div th:each="film : ${allFilms}" class="current-rent-films-tile-sections">
                <h2 th:text="${film.getTitle()}"></h2>
                <div class="rent-film-card">
                    <img class="film-poster" src="/assets/film-posters/fg4g54g4f54g5454.jpg" th:alt="${film.getTitle()}" alt="Test-Film 1">
                    <div class="rent-film-main-info-section">
                        <p th:text="'Anbieter: ' + ${film.getFilmProvider().getName()}">Anbieter</p>
                        <p th:text="'Leihkosten: ' + ${film.getBasicRentFee()}">Leihkosten</p>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
