<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
    <head>
    </head>
    <body>
        <div class="main-wrapper" role="main" layout:fragment="content">
            <h1>Filme Verleih</h1>
            <div class="current-rent-films-tile-sections">
                <h2>Test-Film 1</h2>
                <div class="rent-film-card">
                    <img class="film-poster" src="/assets/film-posters/fg4g54g4f54g5454.jpg" alt="Test-Film 1">
                    <div class="rent-film-main-info-section">
                        <p>Anbieter: Alien GMBH</p>
                        <p>Leihkosten: 1500 Euro pro Woche</p>
                    </div>
                </div>
                <h2>Test-Film 2</h2>
                <div class="rent-film-card">
                    <img class="film-poster" src="/assets/film-posters/fg4g54g4f54g5454.jpg" alt="Test-Film 1">
                    <div class="rent-film-main-info-section">
                        <p>Anbieter: Space Org</p>
                        <p>Leihkosten: 1200 Euro pro Woche</p>
                    </div>
                </div>
                <h2>Test-Film 3</h2>
                <div class="rent-film-card">
                    <img class="film-poster" src="/assets/film-posters/fg4g54g4f54g5454.jpg" alt="Test-Film 1">
                    <div class="rent-film-main-info-section">
                        <p>Anbieter: HOME Film Studio</p>
                        <p>Leihkosten: 1000 Euro pro Woche</p>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
