<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
    <head>
    </head>
    <body>
        <div class="main-wrapper" role="main" layout:fragment="content">
            <h1>Impressum</h1>
            <p>Dieses Websystem enstand im Sommersemester 2024 als Projekt im Modul Anwendungsentwicklung an der
                <a href="https://www.hs-merseburg.de/" title="Hochschule Merseburg">Hochschule Merseburg</a>. Die folgenden Personen haben daran Mitgewirkt: </p>
            <ul>
                <li>Lukas Diettrich</li>
                <li>Yannick Harnisch</li>
                <li>Tobias Knoll</li>
                <li>Simon Liepe</li>
                <li>Jannik Schwaß</li>
            </ul>
            <h2>Urheberrecht</h2>
            <p>...</p>
            <h2>Haftungshinweis: Externe Links</h2>
            <p>...</p>
        </div>
    </body>
</html>
