<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
    <head>
    </head>
    <body>
        <div class="main-wrapper" role="main" layout:fragment="content">
            <h1>Impressum</h1>
            <p>Dieses Websystem enstand im Sommersemester 2024 als Projekt im Modul Anwendungsentwicklung an der
                <a href="https://www.hs-merseburg.de/" title="Hochschule Merseburg" target="new">Hochschule Merseburg</a>. Die folgenden Personen haben daran Mitgewirkt: </p>
            <ul>
                <li>Lukas Diettrich</li>
                <li>Yannick Harnisch</li>
                <li>Tobias Knoll</li>
                <li>Simon Liepe</li>
                <li>Jannik Schwaß</li>
            </ul>
            <h2>Urheberrechtsangaben</h2>
            <p>Sämtliche Teile dieser Webseite sind durch die Ersteller oder andere Personen bzw. Organisationen Urheberrechtlich geschützt.</p>
            <ul>
                <li>Filmplakate: propietär, Urheber vermutlich der jwlg. Publisher oder Grafiker.</li>
                <li>jQuery: &copy;The jQuery contributors and/or the OpenJS Foundation. Used under the <a href="https://tldrlegal.com/license/mit-license" target="new">MIT license.</a></li>
                <li>Google Graphs: &copy; Google LLC;The Closure Library Authors, and/or Bob Ippolito. Partially licensed under the MIT license, partially under the Apache 2.0 license. </li>
                <li><img src="https://i.imgur.com/GnyDvKN.png" alt="icon error"/>: <a href="https://imgur.com/GnyDvKN">imgur.com</a> </li>
                <li><img src="https://i.imgur.com/Q9BGTuy.png" alt="icon success"/>: <a href="https://imgur.com/Q9BGTuy">imgur.com</a> </li>
                <li><img src="https://i.imgur.com/ilgqWuX.png" alt="icon info"/>: <a href="https://imgur.com/ilgqWuX">imgur.com</a> </li>
                <li><img src="https://imgur.com/vTGeSYw.png" alt="icon warning"/>: <a href="https://imgur.com/vTGeSYw">imgur.com</a> </li>
                <li>Snacks: 
                    <ul>
                        <li>x <a href="https://www.flaticon.com/de/kostenlose-icons/popcorn" title="popcorn Icons">Popcorn Icons erstellt von Freepik - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/de/kostenlose-icons/essen-und-restaurant" title="essen und restaurant Icons">Essen und restaurant Icons erstellt von Muhammad Ali - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/de/kostenlose-icons/limonade" title="limonade Icons">Limonade Icons erstellt von Freepik - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/de/kostenlose-icons/eistee" title="eistee Icons">Eistee Icons erstellt von Freepik - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/de/kostenlose-icons/eiscreme" title="eiscreme Icons">Eiscreme Icons erstellt von Freepik - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/de/kostenlose-icons/nachos" title="nachos Icons">Nachos Icons erstellt von Nikita Golubev - Flaticon</a></li>
                        <li>2x <a href="https://www.flaticon.com/de/kostenlose-icons/essen-und-restaurant" title="essen-und-restaurant Icons">Essen-und-restaurant Icons erstellt von Sumitsaengtong - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/de/kostenlose-icons/matschgetrank" title="matschgetrank Icons">Matschgetrank Icons erstellt von Freepik - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/de/kostenlose-icons/schokoladentafel" title="schokoladentafel Icons">Schokoladentafel Icons erstellt von Freepik - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/de/kostenlose-icons/suss" title="süss Icons">Süss Icons erstellt von Freepik - Flaticon</a></li>
                    </ul>
                </li>
            </ul>
            <h2>Haftungshinweis: Externe Links</h2>
            <p>Auf dieser Webseite setzen wir Links auf Angebote dritter, für die wir nicht verantwortlich sind. Wir haben die Inhalte zum Zeitpunkt
                der Linksetzung auf mögliche Rechtsverstöße geprüft, eine permanente Kontrolle ist jedoch unzumutbar. Bei Bekanntwerden von Rechtsverstößen bitten 
                wir um einen Hinweis, wir werden derartige Links dann umgehend entfernen.</p>
        </div>
    </body>
</html>
