<!DOCTYPE html>
<html lang="de" class="client-nojs"  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8">
        <title th:text="${title} + ' | UFO Kinos'">Startseite | UFO Kinos</title>
        <meta name="description" content="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut l">
        <meta name="keywords" content="lorem, ipsum">
        <meta name="referrer" content="strict-origin-when-cross-origin">
        <meta name="theme-color" content="#000000">
        <meta name="color-scheme" content="dark">
        <meta name="robots" content="index,follow">
        <!-- <meta name="rating" content="adult"> -->

        <link rel="stylesheet" href="/css/common.css" th:href="@{/resources/css/style.css}">

        <link rel="icon" href="/assets/branding/icon-48.png" th:href="@{/assets/branding/icon-48.png}">

        <script src="/js/lib/jquery.js?ver=202404" th:href="@{/js/lib/jquery.js?ver=202404}"></script>
        <script src="/js/lib/dsgvo-cookie-choises.js?ver=202404" th:href="@{/js/lib/dsgvo-cookie-choises.js?ver=202404}"></script>
    </head>
    <body>
        <!-- todo:background asset? -->
        <div class="background"></div>
        <div class="css-hack">
            <nav class="main-nav">
                <div id="custumer-stuff" class="nav-section">
                    <span class="nav-section-title">Kundenorientiert</span>
                    <ul class="nav-section-content">
                        <li><a href="/current-films" title="Filmplan | UFO Kinos">Filmplan</a></li>
                        <li><a href="/reserve-spots/reserve" title="Plätze reservieren | UFO Kinos">Plätze reservieren</a></li>
                        <li><a href="/my-reservations" title="Meine Reservierungen | UFO Kinos">Meine Reservierungen</a></li>
                        <!--<li sec:authorize="hasAnyRole(USER,STAFF,TRUSTEDSTAFF,BOSS)"><a href="/logout" title="Abmelden | UFO Kinos">Abmelden</a></li>-->
                        <li><a href="/login" title="Anmelden | UFO Kinos">Anmelden</a></li>
                    </ul>
                </div>
                <div id="checkout-stuff" class="nav-section">
                    <span class="nav-section-title">Kassensystem</span>
                    <ul class="nav-section-content">
                        <li><a href="/sell#tickets" title="Kartenverkauf | UFO Kinos">Kartenverkauf</a></li>
                        <li><a href="/tickets/change" title="Kartentausch | UFO Kinos">Kartentausch</a></li>
                        <li><a href="/tickets/return" title="Kartenrückgabe | UFO Kinos">Kartenrückgabe</a></li>
                        <li><a href="/sell#snacks" title="Snackverkauf | UFO Kinos">Snackverkauf</a></li>
                    </ul>
                </div>
                <div id="management-stuff" class="nav-section">
                    <span class="nav-section-title">Management</span>
                    <ul class="nav-section-content">
                        <li><a href="/current-films" title="Programmverwaltung | UFO Kinos">Programmverwaltung</a></li>
                        <li><a href="/statistics" title="Statistiken | UFO Kinos">Wirtschaftsstatistiken</a></li>
                        <li><a href="/manage/rooms" title="Saalverwaltung | UFO Kinos">Saalverwaltung</a></li>
                        <li><a href="/manage/pricing" title="Preisgestaltung | UFO Kinos">Preisgestaltung</a></li>
                        <li><a href="/manage/storage" title="Lagerverwaltung | UFO Kinos">Lagerverwaltung</a></li>
                        <li><a href="/manage/staff" title="Personalverwaltung | UFO Kinos">Personalverwaltung</a></li>
                    </ul>
                </div>
            </nav>
            <div class="main-outer">
                <div class="head">
                    <img class="logo" src="/assets/branding/logo.png" alt="UFO Kinos Logo">
                </div>
                <div class="main-wrapper" role="main" layout:fragment="content">
                    
                </div>
                <div class="footer">
                    <span class="copyright">&copy; UFO-Kinos</span>
                    <ul class="links">
                        <li><a href="/imprint" title="Impressum | UFO Kinos">Impressum</a></li>
                        <li><a href="/privacy" title="Datenschutz | UFO Kinos">Datenschutz</a></li>
                        <li><a href="#" title="Cookie-Einstellungen | UFO Kinos" class="nojs-hide">Cookie-Einstellungen</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
