<!DOCTYPE html>
<html lang="de" class="client-nojs"  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8">
        <title th:text="${title} + ' | UFO Kinos'">Startseite | UFO Kinos</title>
        <meta name="description" content="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut l">
        <meta name="keywords" content="lorem, ipsum">
        <meta name="referrer" content="strict-origin-when-cross-origin">
        <meta name="theme-color" content="#000000">
        <meta name="color-scheme" content="dark">
        <meta name="robots" content="index,follow">
        <!-- <meta name="rating" content="adult"> -->

        <link rel="stylesheet" href="/css/common.css" th:href="@{/resources/css/style.css}">

        <link rel="icon" type="image/png" sizes="512x512" href="/assets/branding/favicon-512x512.png" th:href="@{/assets/branding/favicon-512x512.png}">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/branding/apple-touch-icon.png" th:href="@{/assets/branding/apple-touch-icon.png}">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/branding/favicon-32x32.png" th:href="@{/assets/branding/favicon-32x32.png}">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/branding/favicon-16x16.png" th:href="@{/assets/branding/favicon-16x16.png}">
        <link rel="manifest" href="/assets/branding/site.webmanifest" th:href="@{/assets/branding/site.webmanifest}">
        <link rel="mask-icon" href="/assets/branding/safari-pinned-tab.svg" color="#000000" th:href="@{/assets/branding/safari-pinned-tab.svg}">
        <link rel="shortcut icon" href="/assets/branding/favicon.ico" th:href="@{/assets/branding/favicon.ico}">
        <meta name="apple-mobile-web-app-title" content="UFO Kinos">
        <meta name="application-name" content="UFO Kinos">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="msapplication-config" content="/assets/branding/browserconfig.xml">
        
        <script src="/js/lib/jquery.js?ver=202404" th:href="@{/js/lib/jquery.js?ver=202404}"></script>
        <script src="/js/lib/dsgvo-cookie-choises.js?ver=202404" th:href="@{/js/lib/dsgvo-cookie-choises.js?ver=202404}"></script>
    </head>
    <body>
        <!-- todo:background asset? -->
        <div class="background"></div>
        <div class="css-hack">
            <nav class="main-nav">
                <div id="custumer-stuff" class="nav-section">
                    <span class="nav-section-title">Kundenorientiert</span>
                    <ul class="nav-section-content">
                        <li><a href="/current-films" title="Filmplan | UFO Kinos">Filmplan</a></li>
                        <li><a href="/reserve-spots/reserve" title="Plätze reservieren | UFO Kinos" sec:authorize="isAuthenticated()">Plätze reservieren</a></li>
                        <li><a href="/my-reservations" title="Meine Reservierungen | UFO Kinos" sec:authorize="isAuthenticated()">Meine Reservierungen</a></li>
                        <li sec:authorize="isAnonymous()"><a href="/login" title="Anmelden | UFO Kinos">Anmelden</a></li>
                        <li sec:authorize="isAnonymous()"><a href="/registration" title="Registrieren | UFO Kinos">Registrieren</a></li>
                    </ul>
                </div>
                <div id="checkout-stuff" class="nav-section" sec:authorize="hasAnyRole('BOSS', 'EMPLOYEE', 'AUTHORIZED_EMPLOYEE')">
                    <span class="nav-section-title">Kassensystem</span>
                    <ul class="nav-section-content">
                        <li> <a href="/sell-tickets" title="Kartenverkauf | UFO Kinos">Kassensystem</a></li>
                        <!-- <li><a href="/tickets/change" title="Kartentausch | UFO Kinos">Kartentausch</a></li>-->
                        <!-- <li><a href="/tickets/return" title="Kartenrückgabe | UFO Kinos">Kartenrückgabe</a></li> -->
                    </ul>
                </div>
                <div sec:authorize="hasAnyRole('BOSS', 'AUTHORIZED_EMPLOYEE')" id="management-stuff" class="nav-section">
                    <span class="nav-section-title">Management</span>
                    <ul class="nav-section-content">
                        <li sec:authorize="hasAnyRole('BOSS', 'AUTHORIZED_EMPLOYEE')"><a href="/current-films" title="Programmverwaltung | UFO Kinos">Programmverwaltung</a></li>
                        <li sec:authorize="hasAnyRole('BOSS', 'AUTHORIZED_EMPLOYEE')"><a href="/rent-films" title="Filme ausleihen | UFO Kinos">Filme ausleihen</a></li>
                        <li sec:authorize="hasAuthority('ROLE_BOSS')"><a href="/statistics" title="Statistiken | UFO Kinos">Wirtschaftsstatistiken</a></li>
                        <li sec:authorize="hasAuthority('ROLE_BOSS')"><a href="/manage/rooms" title="Saalverwaltung | UFO Kinos">Saalverwaltung</a></li>
                        <li sec:authorize="hasAuthority('ROLE_BOSS')"><a href="/manage/pricing" title="Preisgestaltung | UFO Kinos">Preisgestaltung</a></li>
                        <li sec:authorize="hasAnyRole('BOSS', 'AUTHORIZED_EMPLOYEE')"><a href="/manage/storage" title="Lagerverwaltung | UFO Kinos">Lagerverwaltung</a></li>
                         <li sec:authorize="hasAuthority('ROLE_BOSS')"><a href="/manage/staff" title="Personalverwaltung | UFO Kinos">Personalverwaltung</a></li>
                    </ul>
                </div>
                <br><hr><br>
                <div sec:authorize="isAuthenticated()">
                    <div sec:authentication="name">username</div>
                    <div sec:authentication="principal.authorities">role</div>
                    <form action="/logout">
                        <input type="submit" value="Ausloggen" />
                    </form>
                </div>
                <div sec:authorize="isAnonymous()">
                    <form action="/login">
                        <input type="submit" value="Einloggen" />
                    </form>
                </div>
            </nav>
            <div class="main-outer">
                <div class="head">
                    <img class="logo" src="/assets/branding/logo.png" alt="UFO Kinos Logo">
                </div>
                <div class="main-wrapper" role="main" layout:fragment="content">
                    
                </div>
                <div class="footer">
                    <span class="copyright">&copy; UFO-Kinos</span>
                    <ul class="links">
                        <li><a href="/imprint" title="Impressum | UFO Kinos">Impressum</a></li>
                        <li><a href="/privacy" title="Datenschutz | UFO Kinos">Datenschutz</a></li>
                        <li><a href="#" title="Cookie-Einstellungen | UFO Kinos" class="nojs-hide">Cookie-Einstellungen</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
