<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
    <head>
    </head>
    <body>
        <div class="main-wrapper" role="main" layout:fragment="content">
            <h1>Plätze reservieren</h1>
            <p>"<span th:text="${show.getFilm().getTitle()}">Bell im Märchenland</span>", <span th:text="${show.getStartDateTime()}">Montag 22.04.2024, 10 Uhr</span>, Saal 2. <a href="/current-films" title="Filmplan | UFO Kinos">Ändern</a> <span class="fsk-label" th:text="${show.getFilm().getFskAge()}">FSK 12</span></p>
                    <form id="reserve-spots-form-delete" action="/reserve-spots/remove-ticket" method="post">
                        <div class="already-in-cart">
                            <div class="ticket" th:each="ticket : ${tickets}">
                                <p th:text="${show.getStartDateTime()} + ${show.getFilm().getTitle()}"></p>
                                <p th:text="${ticket.getSeatString()} + ${ticket.categoryToLabel()}"></p>
                                <p style="text-align: right" th:text="${ticket.getTicketPrice()}"></p>
                                <button class="deleteButton" type="submit" name="deleteCartEntry" value="0" th:value="${ticket.getId()}">Löschen</button>
                            </div>
                        </div>
                    </form>
            <div class="formErrors">
                <p th:if="${errors != null}" th:each="error : ${errors}" th:text="${error}"></p>
            </div>
                    <form id="reserve-spots-form-add" action="/reserve-spots/add-ticket" method="post">
                        <p class="flex">Derzeitige Zwischensumme: <span class="grow"></span><span th:text="${price}">19.99€</span></p>
                        <h2>Ticket hinzufügen</h2>
                        <p style="color:red">Hinweis: Über dieses Formular können maximal 10 Tickets pro Veranstaltung gebucht werden. Sollten Sie legitimen Bedarf an einer größeren Reservierung haben, sprechen Sie bitte unser Kassenpersonal vor Ort an.</p>
                        <p>Preisliste:</p>
                        <ul class="priceList">
                            <li>Platzgruppe 1: Erwachsener 24.99€, Kind (Bis 14 Jahre) 18.99€, Schwerbehinderter 19.99€</li>
                            <li>Platzgruppe 2: Erwachsener 19.99€, Kind (Bis 14 Jahre) 13.99€, Schwerbehinderter 14.99€</li>
                            <li>Platzgruppe 3: Erwachsener 15.99€, Kind (Bis 14 Jahre) 9.99€, Schwerbehinderter 10.99€</li>
                        </ul>

                        <p> <label for="htmlUniqueID1">Tickettyp: </label> <select id="htmlUniqueID1" name="ticketType" required="">
                                <option value="(Bitte wählen)" disabled="" selected="">(Bitte wählen)</option>
                                <option value="adult">Erwachsender</option>
                                <option value="child">Kind (Bis 14 Jahre)</option>
                                <option value="disabled">Schwerbehinderter</option>
                            </select> </p>
                        <p>Platz: <input name="spot" required="" pattern="[A-La-l]([0-9]|1[0-8])$"></p>
                        <img src="spots-view-2.png" alt="Saalansicht" th:src="'/include/spots-view/' + ${show.getId()}" /><br>
                        <button name="addTicket" value="1">Ticket hinzufügen</button>
                    </form>
                    <form id="reserve-spots-form-commit" action="/reserve-spots/commit" method="post">
                        <hr>
                        <p class="flex">Gesamtsumme: <span class="grow"></span> <span th:text="${price}">19.99€</span></p>
                        <p style="color:red">Hier reservierte Plätze müssen 30min vor der Vorlesung abgeholt und bezahlt werden, sonst verfallen sie.</p>
                        <button name="doReserve" value="1">Jetzt reservieren</button>
                    </form>   
        </div>
</html>

