<!DOCTYPE html>
<html lang="de" class="client-nojs"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
    <head>
        <meta charset="utf-8">
        <title>Saalverwaltung | UFO Kinos</title>
        <meta name="description" content="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut l">
        <meta name="keywords" content="lorem, ipsum">
        <meta name="referrer" content="strict-origin-when-cross-origin">
        <meta name="theme-color" content="#000000">
        <meta name="color-scheme" content="dark">
        <meta name="robots" content="index,follow">
        <!-- <meta name="rating" content="adult"> -->

        <link rel="stylesheet" href="/css/common.css">

        <link rel="icon" href="/assets/branding/icon-48.png">

        <script src="/js/lib/jquery.js?ver=202404"></script>
        <script src="/js/lib/dsgvo-cookie-choises.js?ver=202404"></script>
    </head>
    <body>
        <!-- todo:background asset? -->
        <div class="background"></div>
        <div class="css-hack">
            <div class="main-outer">
                <div class="head">
                    <img class="logo" src="/assets/branding/logo.png" alt="UFO Kinos Logo">
                </div>
                <div class="main-wrapper" role="main" layout:fragment="content">
                    <h1>Saalverwaltung</h1>
                    <form th:action="@{/manage/rooms}" method="get">
                        <p>Saal <select  name="room">
                                <option th:each="cinemaHall : ${allCinemaHalls}" th:text="${cinemaHall.getName()}" th:value="${cinemaHall.getId()}">Saal 1</option>
                            </select></p>
                            <p>am <input type="date" name="date" placeholder="19.04.2024" required=""></p>
                        <input type="submit"/>
                    </form>
                    <h2>Saal [[${room}]] am [[${date}]]</h2>
                    <ul th:each="activity : ${scheduledActivitysOnDate}">
                        <li>
                            <span th:text="${#temporals.format(activity.getStartDateTime(), 'HH:mm')}"></span>
                            <span th:text="${activity.getDuration()}"></span> min
                            <span th:text="${activity.getName()}"></span>
                        </li>
                    </ul>


                    <h2>Kinoprogramm hinzufügen</h2>
                    <a href="/current-films#addprogram" title="Programmverwaltung | UFO Kinos" target="new">Programmverwaltung</a>
                    <h2>Saal vermieten</h2>
                    <form action="/manage/rooms" method="post">
                        <p>Von: <input type="datetime-local" placeholder="19.04.2024 13:15 Uhr" name="from" required=""></p>
                        <p>Bis: <input type="datetime-local" placeholder="19.04.2024 13:15 Uhr" name="to" required=""></p>
                        <p>Saal <select  name="room">
                            <option th:each="cinemaHall : ${allCinemaHalls}" th:text="${cinemaHall.getName()}" th:value="${cinemaHall.getId()}">Saal 1</option>
                        </select></p>
                        <p>Eventname: <input type="text" name="eventname" placeholder="Cooles Event" required=""></p>
                        <button name="addEvent">Event buchen</button>
                    </form>
                </div>
                <div class="footer">
                    <span class="copyright">&copy; UFO-Kinos</span>
                    <ul class="links">
                        <li><a href="/imprint" title="Impressum | UFO Kinos">Impressum</a></li>
                        <li><a href="/privacy" title="Datenschutz | UFO Kinos">Datenschutz</a></li>
                        <li><a href="#" title="Cookie-Einstellungen | UFO Kinos" class="nojs-hide">Cookie-Einstellungen</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <style>

            nav{
                float: left;
                padding-right:0.5em;
            }
            nav li,.footer li{
                list-style:none;
            }
            .css-hack{
                display: flex;
            }
            .main-outer{
                flex-grow:1;
            }
            .main-wrapper{
                margin-top: 1em;
            }
            .footer li{
                display: inline-block;
                padding: 0em 1em;
            }

            .client-nojs .nojs-hide{
                display: none;
                padding: 0;
                margin: 0;
            }

            .success-message{
                color: #1d6a1d;
            }

        </style>
        <script></script>
    </body>
</html>