<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
    <head>
    </head>
    <body>
        <div class="main-wrapper" role="main" layout:fragment="content">
            <h1>Lagerverwaltung</h1>
            <h2>Aktuelles Inventar</h2>
            <ul>
                <li th:each="snack : ${allSnacks}">
                    <span th:text="${snack.getCount()} + 'x ' + ${snack.getName()}">Anzahlx Snack</span>
                </li>
            </ul>
            <h2>Neues Item</h2>
            <form action="/manage/storage/item/new" method="post">
                <p>
                    Neues Item? <input name="whatNew" placeholder="Name">
                    Typ? <select name="itemType">
                        <option th:each="snackType : ${snackTypes}" value="Snack Type"  th:text="${snackType}" th:value="${snackType}">Snack Type</option>
                    </select>
                </p>
                <button name="new">Hinzufügen</button>
            </form>
            <h2>Item hinzufügen</h2>
            <form action="/manage/storage/item/add" method="post">
                <p>
                    <input type="number" min="1" name="itemCount"> von
                    <select name="itemName">
                        <option th:each="snack : ${allSnacks}" value="Snack X"  th:text="${snack.getName()}" th:value="${snack.getId()}">Snack X</option>
                    </select>
                </p>
                <button name="add">Hinzufügen</button>
            </form>
            <h2>Item entfernen</h2>
            <form action="/manage/storage/item/remove" method="post">
                <p>
                    <input type="number" min="1" name="itemCount"> von
                    <select name="itemName">
                        <option th:each="snack : ${allSnacks}" value="Snack X"  th:text="${snack.getName()}" th:value="${snack.getId()}">Snack X</option>
                    </select>
                </p>
                <button name="remove">Entfernen</button>
            </form>
        </div>

    </body>
</html>
