<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
</head>
<body>
<div class="main-wrapper" role="main" layout:fragment="content">
    <h1>Personalverwaltung</h1>
    <!--<h2>Mitarbeiter</h2>
    <table>
        <thead>
        <tr>
            <th>E-Mail</th>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Job</th>
            <th>Monatsgehalt</th>
            <th>Wochenstunden</th>
            <th>Zugang</th>
            <th>Aktionen</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>boss@ufo-kinos.de</td>
            <td>Der</td>
            <td>Boss</td>
            <td>Big Boss</td>
            <td>5000€</td>
            <td>Zu viele :p</td>
            <td>Boss</td>
            <td>
                <a href="/manage/staff?change=1&id=78324748324732844" style="display: block">bearbeiten</a>
                <a href="/manage/staff?delete=1&id=78324748324732844" style="display: block">entlassen</a>
            </td>
        </tr>
        </tbody>
    </table>
    <h2>Schichten</h2>
    <form action="/manage/staff" method="get">
        <p>am <input type="date" name="date" placeholder="19.04.2024"></p>
        <button>Anzeigen</button>
    </form>
    <table>
        <tr>
            <th>Wer?</th>
            <th>Von</th>
            <th>Bis</th>
        </tr>
    </table>
    <h2>Mitarbeiter einteilen</h2>
    <form action="/manage/staff">
        <input type="hidden" name="action" value="enrollToShift">
        <p>E-Mail: <input type="email" name="email" required="" placeholder="john.doe@example.com"></p>
        <p>Von: <input type="datetime-local" required="" name="from"></p>
        <p>Bis: <input type="datetime-local" required="" name="until"></p>
        <button>Einteilen</button>
    </form>-->

    <!-- Edit User Form -->
    <h2>Mitarbeiter bearbeiten</h2>
    <p th:if="${error}" th:text="${error}" class="error"></p>
    <form th:action="@{/manage/editUser}" method="post">
        <input type="hidden" name="id" th:value="${employee.getId().getId()}" required>
        <p>Vorname: <input type="text" name="firstName" th:value="${user.getFirstName()}"></p>
        <p>Nachname: <input type="text" name="lastName" th:value="${user.getLastName()}"></p>
        <p>E-Mail: <input type="email" name="email" th:value="${user.getEMail()}"></p>
        <p>Job:
            <select name="job" required>
                <option value="EMPLOYEE" th:selected="${employee.getJobMail()} == 'EMPLOYEE'">Mitarbeiter</option>
                <option value="AUTHORIZED_EMPLOYEE" th:selected="${employee.getJobMail()} == 'AUTHORIZED_EMPLOYEE'">Authorisierter Mitarbeiter</option>
            </select>
        </p>
        <p>Monatsgehalt: <input type="text" name="salary" th:value="${employee.getSalary().getNumber()} "></p>
        <p>Wochenstunden: <input type="text" name="hours" th:value="${employee.getHoursPerWeek()}"></p>
        <button type="submit">Speichern</button>
    </form>
</div>
</body>
</html>
