<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
    <head>
    </head>
    <body>
        <div class="main-wrapper" role="main" layout:fragment="content">
            <h1>Datenschutzrichtlinie</h1>
            
            <p class="info">Währe dies eine echte Kinowebseite und kein Studentenprojekt, müsste hier eine Datenschutzrichtlinie stehen.</p>
            <div class="warning">
                <p>Wenn Sie dieses Projekt veröffentlichen, bearbeiten Sie bitte vorher dieses Template und ergänzen eine echte Datenschutzrichtlinie.</p>
                <p>Dieses Projekt verarbeitet die folgenden Personenbezogenen Daten:</p>
                <ul>
                    <li>E-Mail-Adressen</li>
                    <li>Telefonnummern</li>
                    <li>Realnamen und Anschriften</li>
                    <li>Gehälter und Wochenstunden</li>
                </ul>
            </div>
        </div>
    </body>
</html>
