<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>Registrieren | UFO Kinos</title>
    <meta name="description" content="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.">
    <meta name="keywords" content="lorem, ipsum">
    <meta name="referrer" content="strict-origin-when-cross-origin">
    <meta name="theme-color" content="#000000">
    <meta name="color-scheme" content="dark">
    <meta name="robots" content="index,follow">

    <link rel="stylesheet" href="/css/common.css">
    <link rel="icon" href="/assets/branding/icon-48.png">

    <script src="/js/lib/jquery.js?ver=202404"></script>
    <script src="/js/lib/dsgvo-cookie-choises.js?ver=202404"></script>
</head>
<body>
<div class="background"></div>
<nav class="main-nav">
    <ul class="nav-section-content">
        <li><a href="/current-films" title="Filmplan | UFO Kinos" style="font-size: 14px;">Filmplan</a></li>
        <li><a href="/lunar_space_port/login" title="Anmelden | UFO Kinos" style="font-size: 14px;">Anmelden</a></li>
        <li><a href="/lunar_space_port/registration" title="Registrieren | UFO Kinos" style="font-size: 14px;">Registrieren</a></li>
    </ul>
</nav>
<div class="main-outer">
    <div class="head">
        <img class="logo" src="/assets/branding/logo.png" alt="UFO Kinos Logo">
    </div>
    <div class="main-wrapper" role="main" style="text-align: center;">
        <h1 style="font-size: 48px;">Registrieren</h1>
        <form id="registerForm" action="/lunar_space_port/register" method="post" enctype="application/json">
            <div class="formfield">
                <label for="email" style="font-size: 36px;">E-Mail:</label>
                <input id="email" name="email" placeholder="E-Mail" type="email" required="" style="font-size: 36px; padding: 10px;">
            </div>
            <div class="formfield">
                <label for="password" style="font-size: 36px;">Passwort:</label>
                <input id="password" name="password" placeholder="Passwort" type="password" required="" style="font-size: 36px; padding: 10px;">
            </div>
            <button type="submit" style="font-size: 36px; padding: 10px;">Registrieren</button>
        </form>
    </div>
    <div class="footer" style="text-align: center; margin-top: 100px;">
        <span class="copyright" style="font-size: 14px;">&copy; UFO-Kinos</span>
        <ul class="links" style="margin-top: 20px;">
            <li><a href="/imprint" title="Impressum | UFO Kinos" style="font-size: 12px;">Impressum</a></li>
            <li><a href="/privacy" title="Datenschutz | UFO Kinos" style="font-size: 12px;">Datenschutz</a></li>
            <li><a href="#" title="Cookie-Einstellungen | UFO Kinos" class="nojs-hide" style="font-size: 12px;">Cookie-Einstellungen</a></li>
        </ul>
    </div>
</div>

<style>
    nav {
        float: none;
        text-align: center;
    }

    nav li, .footer li {
        list-style: none;
    }

    .main-outer {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .main-wrapper {
        margin-top: 1em;
        text-align: center;
    }

    .footer li {
        display: inline-block;
        padding: 0em 1em;
    }

    .client-nojs .nojs-hide {
        display: none;
        padding: 0;
        margin: 0;
    }

    input {
        display: block;
        margin-bottom: 20px;
    }
</style>

<script>
    $(document).ready(function () {
        $('#registerForm').submit(function (event) {
            event.preventDefault(); // Prevent the form from submitting normally

            // Serialize form data to JSON
            var formData = JSON.stringify({
                'email': $('#email').val(),
                'password': $('#password').val()
            });

            $.ajax({
                type: 'POST',
                url: '/lunar_space_port/register',
                contentType: 'application/json',
                data: formData,
                success: function (response) {
                    // Handle success response
                    window.location.href = '/lunar_space_port/isLoggedIn';
                },
                error: function (xhr, status, error) {
                    // Handle error
                    console.error(error);
                }
            });
        });
    });
</script>
</body>
</html>
