<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
</head>
<body>
<section layout:fragment="content">
    <form method="post" role="form" class="ui form" id="registerForm" th:action="@{/registration}" th:object="${registrationForm}">

        <h3 class="ui dividing header">Nutzerdaten</h3>

        <div class="ui negative message" th:if="${#fields.hasErrors('*')}">
            <p>Einige Angaben sind nicht korrekt.</p>
        </div>


        <div class="formfield">
            <label for="username">Nutzername</label>
            <input id="username" name="username" th:field="*{username}" th:errorclass="fieldError" type="username"
                   required="required"/><br/>
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Der Nutzername darf
                nicht leer sein.</p>
        </div>

        <div class="formfield">
            <label for="password">Passwort</label>
            <input id="password" name="password" th:field="*{password}" th:errorclass="fieldError" type="password"
                   required="required"/><br/>
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Das Passwort darf
                nicht leer sein.</p>
        </div>

        <div class="formfield">
            <label for="eMail">E-Mail</label>
            <input id="eMail" name="eMail" th:field="*{eMail}" th:errorclass="fieldError" type="text"
                   required="required"/><br/>
            <p th:if="${#fields.hasErrors('eMail')}" th:errors="*{eMail}">Die E-Mail Adresse darf
                nicht leer sein.</p>
        </div>

        <div class="formfield">
        <label for="name">Name</label>
        <input id="name" name="name" th:field="*{name}" th:errorclass="fieldError" type="text" required="required"/><br/>
        <div class="ui negative message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
            <p>Der Name darf nicht leer sein.</p>
        </div>
        </div>

        <div class="formfield">
            <label for="streetName">Straße</label>
            <input id="streetName" name="streetName" th:field="*{streetName}" th:errorclass="fieldError" type="text" required="required"/><br/>
            <div class="ui negative message" th:if="${#fields.hasErrors('streetName')}" th:errors="*{streetName}">
                <p>Die Straße darf nicht leer sein.</p>
            </div>
        </div>

        <div class="formfield">
            <label for="streetNumber">Hausnummer</label>
            <input id="streetNumber" name="streetNumber" th:field="*{streetNumber}" th:errorclass="fieldError" type="text" required="required"/><br/>
            <div class="ui negative message" th:if="${#fields.hasErrors('streetNumber')}" th:errors="*{streetNumber}">
                <p>Die Hausnummer darf nicht leer sein.</p>
            </div>
        </div>

        <div class="formfield">
            <label for="city">Stadt</label>
            <input id="city" name="city" th:field="*{city}" th:errorclass="fieldError" type="text" required="required"/><br/>
            <div class="ui negative message" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">
                <p>Die Stadt darf nicht leer sein.</p>
            </div>
        </div>

        <div class="formfield">
            <label for="postalCode">Postleitzahl</label>
            <input id="postalCode" name="postalCode" th:field="*{postalCode}" th:errorclass="fieldError" type="number" required="required"/><br/>
            <div class="ui negative message" th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}">
                <p>Die Postleitzahl darf nicht leer sein.</p>
            </div>
        </div>

        <div class="formfield">
            <label for="state">Bundesland</label>
            <input id="state" name="state" th:field="*{state}" th:errorclass="fieldError" type="text" required="required"/><br/>
            <div class="ui negative message" th:if="${#fields.hasErrors('state')}" th:errors="*{state}">
                <p>Das Bundesland darf nicht leer sein.</p>
            </div>
        </div>

        <div class="formfield">
            <label for="country">Land</label>
            <input id="country" name="country" th:field="*{country}" th:errorclass="fieldError" type="text" required="required"/><br/>
            <div class="ui negative message" th:if="${#fields.hasErrors('country')}" th:errors="*{country}">
                <p>Das Land darf nicht leer sein.</p>
            </div>
        </div>

        <button type="submit" class="ui button">Registrieren</button>
    </form>
</section>
</body>
</html>