<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
    <head>
    </head>
    <body>
        <div class="main-wrapper" role="main" layout:fragment="content">
            <h1>Tickets kaufen</h1>
            <form id="sell-items-form" action="/sell-tickets" method="post">
                        <p><label for="htmlUniqueID6">Film:</label></p>
                        <select id="htmlUniqueID6" name="ticket-event">
                            <option th:each="show: ${shows}" th:value="${show.getId()}" th:text="${#temporals.format(show.getStartDateTime(), 'dd.MM.yyyy HH:mm')} +' '+ ${show.getFilm().getTitle()}"></option>
                        </select>
                        <button name="next" value="1">Weiter</button>
                    </form>
            <h2 th:if="${startedCurrentShow}">Aktueller Verkauf</h2>
            <a th:if="${startedCurrentShow}" href="/sell-tickets/1"´th:if="${startedCurrentShow}" th:href="'/sell-tickets/' + ${startedCurrentShow.getId()}" title="Zurück zum Warenkorb | UFO Kinos">Zurück zum Warenkorb</a>
        </div>
</html>