<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
    <head>
    </head>
    <body>
        <div class="main-wrapper" role="main" layout:fragment="content">
            <h1>Verkauf</h1>


            <p>"<span th:text="${show.getFilm().getTitle()}">Bell im Märchenland</span>", <span th:text="${show.getStartDateTime()}">Montag 22.04.2024, 10 Uhr</span>, Saal 2. <a href="/sell-tickets" title="Filmplan | UFO Kinos">Ändern</a> <span class="fsk-label" th:text="${show.getFilm().getFskAge()}">FSK 12</span></p>
            <form id="sell-spots-form-delete" action="/sell/remove-ticket" method="post">
                <div class="already-in-cart">
                    <div class="ticket" th:each="item : ${cartTickets}">
                        <p th:text="${show.getStartDateTime()} + ${show.getFilm().getTitle()}"></p>
                        <p th:text="${item.getProductName()}"></p>
                        <p style="text-align: right" th:text="${item.getPrice()}"></p>
                        <button class="deleteButton" type="submit" name="deleteCartEntry" value="0" th:value="${item.getId()}">Löschen</button>
                    </div>
                    <div class="snacks" th:each="item : ${cartSnacks}">
                        <p th:text="${item.getProductName()}"></p> <p style="text-align: right" th:text="${item.getQuantity()}">10</p>
                        <p style="text-align: right" th:text="${item.getPrice()}"></p>
                        <button class="deleteButton" type="submit" name="deleteCartEntry" value="0" th:value="${item.getId()}">Löschen</button>
                    </div>
                </div>
            </form>
            <form id="sell-form-reservation-adder" action="/add-reservation" method="post">
                <input name="reserveNumber"required="" placeholder="Reservierungsnummer">
                <button name="loadReservation" formnovalidate="">Reservierung Laden</button>
            </form>
            <form id="sell-form-ticket-adder" action="/sell/ticket" method="post">
                <input type="hidden" name="token" value="rgeoirjer+\\">
                <input type="hidden" name="prevState" value="ijg348j934j89j3g9g4j89">
                <h2>Aus Reservierung laden</h2>
                <h2>Ticket hinzufügen</h2>
                <p>Preisliste:</p>
                <ul>
                    <li>Platzgruppe 1: Erwachsener 24.99€, Kind (Bis 14 Jahre) 18.99€, Schwerbehinderter 19.99€</li>
                    <li>Platzgruppe 2: Erwachsener 19.99€, Kind (Bis 14 Jahre) 13.99€, Schwerbehinderter 14.99€</li>
                    <li>Platzgruppe 3: Erwachsener 15.99€, Kind (Bis 14 Jahre) 9.99€, Schwerbehinderter 10.99€</li>
                </ul>
                <p> <label for="htmlUniqueID1">Tickettyp: </label> <select id="htmlUniqueID1" name="ticketType">
                        <option value="(Bitte wählen)" disabled="" selected="">(Bitte wählen)</option>
                        <option value="adult">Erwachsender</option>
                        <option value="child">Kind (Bis 14 Jahre)</option>
                        <option value="disabled">Schwerbehinderter</option>
                    </select> </p>
                <p>Platz: <input name="spot" required="" pattern="[A-La-l]([0-9]|1[0-8])$"></p>
                <button name="addTicket" value="1">Ticket hinzufügen</button>
                <iframe src="spots-view-2.png" title="Saalansicht" th:src="'/include/spots-view/' + ${show.getId()}" style="width: 100%;height: calc(100vh * 1.1);border: none;min-height: 130pt;min-width: 190pt;"></iframe><br>
            </form>
            <form id="sell-form-snack-adder" action="/sell/snacks" method="post">
                <h2>Snacks Hinzufügen</h2>
                <p><label for="htmlUniqueID3">Snacks:</label></p>
                        <select id="htmlUniqueID3" name="snack-adder">
                            <option th:each="snack: ${snacks}" th:value="${snack.getId()}" th:text="${snack.getName()} + ${snack.getPrice()}"></option>
                        </select>
                <button name="addSnack">Snack hinzufügen</button>
                
            </form>
            <hr>
            <form id="sell-form-checkout" action="/buy" method="post">
                <p class="flex">Gesamtsumme: <span class="grow"></span> <span class="sum" th:text=${cart.getPrice()}> 0.00€</span></p>
                <button name="doBuy" value="1">Kaufvorgang abschließen</button>
            </form>
        </div>

    </body>
</html>
