<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
    <head>
    </head>
    <body>
        <div class="main-wrapper" role="main" layout:fragment="content">
            <h1>Herzlich willkommen bei UFO-Cinema</h1>
            <div sec:authorize="isAuthenticated()">
                <div class="info">
                    <p>Hallo <span sec:authentication="name"></span>!</p><br>
                </div>
            </div>

            <br>
            <div class="main-outer">
                <div class="main-welcome">
                    <p>Tauchen Sie ein in die faszinierende Welt des Films und erleben Sie unvergessliche Momente auf der großen Leinwand. 
                    Bei UFO-Cinema steht Ihr Kinoerlebnis im Mittelpunkt. 
                    Ob neueste Blockbuster, spannende Independent-Filme oder zeitlose Klassiker – bei uns finden Sie immer das perfekte Programm für Ihren nächsten Kinobesuch.</p>
                    <br>
                    <p>Genießen Sie Ihren Aufenthalt in unseren modernen, komfortablen Kinosälen, ausgestattet mit der neuesten Technik für Bild und Ton. 
                        Unser freundliches Personal sorgt dafür, dass Ihr Besuch bei UFO-Cinema zu einem echten Highlight wird. 
                        Stöbern Sie durch unser aktuelles Kinoprogramm, sichern Sie sich Ihre Tickets online und freuen Sie sich auf atemberaubende Filmmomente.</p>
                    <br>
                    <p>Wir wünschen Ihnen viel Spaß und gute Unterhaltung!</p>
                    <br>
                    <p>Ihr Team der UFO-Cinema GmbH</p>
                </div>
                <br>
                <div class="mainpage-tile-sections">
                    <div id="current-films" class="tile-section">
                        <h2 class="tile-section-title"><a href="/current-films" title="Filmplan | UFO Kinos">Filmplan</a></h2>
                        <ul>
                            <li th:each="film: ${filmList}" th:text="${film.title}">foo 1</li>
                            <li th:if="${hasMore}">... und <a href="/current-films" title="Filmplan | UFO Kinos">weitere</a></li>
                        </ul>
                    </div>
                    <br>
                    <div id="reserve-spots" class="tile-section">
                        <h2 class="tile-section-title"><a href="/reserve-spots/reserve" title="Plätze reservieren | UFO Kinos">Plätze reservieren</a></h2>
                        <p>Hier reservierte Plätze müssen 30min vor der Vorlesung abgeholt und bezahlt werden, sonst verfallen sie.</p>
                        <p>Alternativ können sie Karten auch vor Ort oder telefonisch unter +49 12345 6789 reservierenn.</p>
                    </div>
                    <br>
                </div>
            </div>
        </div>

    </body>
</html>
